.hero-header {
  font-family: "Montserrat", sans-serif;
}

.self {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-out-tl {
  -webkit-animation: slide-out-tl 9s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    reverse both;
  animation: slide-out-tl 9s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}
.slide-in-br {
  -webkit-animation: slide-in-br 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
    both;
  animation: slide-in-br 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-15 20:27:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-tl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-200%) translateX(-200%);
    transform: translateY(-200%) translateX(-200%);
    opacity: 0;
  }
}
@keyframes slide-out-tl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-200%) translateX(-200%);
    transform: translateY(-200%) translateX(-200%);
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-15 20:29:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(100%) translateX(100%);
    transform: translateY(100%) translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(100%) translateX(100%);
    transform: translateY(100%) translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
