@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b0908;
  max-width: 100vw;
  overflow-x: hidden;
}

.dusk {
  -webkit-transition: background-color 13s ease-out;
  -moz-transition: background-color 13s ease-out;
  -o-transition: background-color 13s ease-out;
  transition: background-color 13s ease-out;
}
.dusk {
  background-color: #0b0908;
}

.dawn {
  -webkit-transition: background-color 13s ease-out;
  -moz-transition: background-color 13s ease-out;
  -o-transition: background-color 13s ease-out;
  transition: background-color 13s ease-out;
}

.dawn {
  background-color: #e1ddce;
}
